.textarea-feedback{
    border:none;
    outline: none;
    width: 100%;
    background-color:#e4e4e4;
    padding: .5rem;
}

.course-section.student-page .section-name{
   font-size: 16px;
}

.section-time{
    white-space: nowrap;
}