
.list-search {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: flex-start;

}

@media screen and (min-width: 600px) {
  .list-search .card-wrap-item {
    width: calc(100%);
  }

}

@media screen and (min-width: 900px) {
  .list-search .card-wrap-item {
    width: calc(100%/2);
  }

}

@media screen and (min-width: 1200px) {
  .list-search .card-wrap-item {
    width: calc(100%/3);
  }

}

@media screen and (min-width: 1400px) {
  .list-search .card-wrap-item {
    width: calc(100%/4);
  }

}


.select-sort{
  width: max-content;
  padding: .5rem;
  position: relative;
}

.select-sort::after{
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    position: absolute;
    top: 45%;
    right: 1rem;
}

.select-sort .form-control{
  padding-right: 2rem;
}

.text-not-found{
  font-size: 1.1rem;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}