@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background: #f3f7f7 !important;*/
  background: #eb910a !important;
  font-family: "Raleway", sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.box-wrapper {
  background: #fff;
  box-shadow: 0 6px 16px 0 rgb(0 0 0 / 20%);
  border-radius: 7px;
}

.text-logo {
  font-family: "Lobster", cursive;
  font-weight: 400;
  font-size: larger;
  color: #1f1535;
}

.gloomy-dusk {
  color: #614f87;
}

.deep-purple {
  color: #362a51;
}

.electric-yellow {
  color: #ffbd3b;
}

.orange {
  color: #eb910a;
}

.mute-gray {
  color: #d4d7ed;
}

.vibrant-coal {
  color: #1f1535;
}

.input-icon {
  font-size: 1.5em;
  padding: 0.75rem;
  height: 48px;
  width: 48px;
  color: #0e141e85;
}

.wrap-form-input svg {
  position: absolute;
}

.wrap-form-input {
  position: relative;
  width: 100%;
  height: calc(1.5em + 0.75rem + 6px);
}

.input-cs {
  border: 0;
  border-radius: 0;
  background-color: #f3f7f7;
  color: #0e141e;
  width: 100%;
  height: calc(1.5em + 0.75rem + 6px);
  padding: 0.45rem 0.95rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 500;
  font-family: "Work Sans", sans-serif;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-clip: padding-box;
  border: 2px solid #f3f7f7;
}

.input-append {
  width: 100%;
  text-align: left;
  padding-left: 48px;
}

.input-cs:focus,
.input-cs:hover {
  border: 2px solid #f3f7f7;
  border-bottom: 2px solid #ffbd3b;
  outline: none;
}

.border-cs-success,
.border-cs-success:hover {
  border-bottom: 2px solid #2aaf26;
}

.border-cs-danger,
.border-cs-danger:hover {
  border-bottom: 2px solid #ff3b45;
}

.alert-cs-success {
  background-color: #41ff3b28;
  color: #2aaf26;
  font-weight: 600;
}

.alert-cs-danger {
  background-color: #ff3b4528;
  color: #ff3b45;
  font-weight: 600;
}

.btn-cs {
  font-family: "Raleway", sans-serif;
  display: inline-block;
  min-width: max-content;
  font-weight: 400;
  color: #1f1535;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  padding: 0.375rem 1rem;
  font-size: 1.2rem;
  line-height: 1.5;
  border-radius: 2px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary-cs {
  background-color: #ffbd3b;
  color: #fff;
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 #ffbe3b42;
}

.btn-primary-cs:hover {
  box-shadow: 0 8px 12px 0 #ffbe3b75;
  transform: translateY(-2px);
  transition-duration: 0.3s;
  animation: transform 0.3s ease-in-out;
}

.btn-primary-cs:active {
  box-shadow: 0 4px 12px 0 #eb910a;
}

.btn-light-cs{
  background-color: #fff;
  color:#ffbd3b ;
  border: 2px solid #ffbd3b;
  padding: .225rem 1rem;
  outline: none;
  font-weight: 600;
}

.btn-light-cs:hover {
  box-shadow: 0 10px 14px 0 rgba(255, 255, 255, 0.432);
  transform: translateY(-2px);
  transition-duration: 0.3s;
  animation: transform 0.3s ease-in-out;
}

.btn-light-cs:active {
  box-shadow: 0 10px 12px 0 rgba(255, 255, 255, 0.61);
}

.btn-icon {
  background: transparent;
  outline: none;
  border: none;
  padding: 0;
  font-size: larger;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-icon-cs:hover {
  width: 48px;
  height: 48px;
}

/*flex-define*/
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-between-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-end-center {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex-start-center {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.w-80 {
  width: 80%;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.ml-2{
  margin-left: 1rem;
}

.mr-2{
  margin-right: 1rem;
}

.p-2{
  padding: 1rem;
}

.card-16-9 {
  position: relative;
  padding-top: 56.25%;
}

.card-16-9 img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.text-number{
  font-family: 'Work Sans'!important;
}