@media screen and (max-width: 992px) {
  
  .input-group-search.input-group {
    padding: 1rem 0 !important;
  }

  .right.navbar-nav .nav-link-right {
    justify-content: flex-start !important;
    margin: 1rem 0;
  }
}
